$backgroundColor: #e7bdd6;
$cardFrontBackgroundColor: #ffffff;
$cardFrontForegroundColor: #fc545e;
$cardBackBackgroundColor: $cardFrontForegroundColor;
$cardBackForegroundColor: $cardFrontBackgroundColor;
$cardBorderColor: #fc545e;