@import './utils/reset';
@import './base/fonts';
@import './base/variables';

@import './components/card.scss';
@import './components/input.scss';
@import './components/select.scss';
@import './components/button.scss';

@import './layout/main';
@import './layout/admin';
@import './layout/media';


body {
  background: $backgroundColor url("../image/google-logo.svg") no-repeat scroll 50% 50%;
  font-family: 'Roboto',sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu-list{
  list-style-type: none;
  min-width: 300px;
  width: 30vw;
  height: fit-content;
  padding: 20px;
  

  & li{
      background-color: #fff;
      margin: 10px;
      padding: 10px;
      width: 100%;
      border: 1px solid tomato;
      border-radius: 10px;

      text-align: center;
      font-size: 30px;
      color:rgb(42, 42, 42);

      background: rgba(255, 255, 255, 0.25);
      border: 1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0px 8px 32px rgba(35, 31, 31, 0.37);
      backdrop-filter: blur(20px);
      border-radius: 10px;
  }
}
