<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="icon" href="https://img.icons8.com/color/344/free-bsd.png">
    <link rel="stylesheet" href="../sass/index.scss" />
</head>
<body>
    <div class="admin-container">
        <div class="container admin-modules">
            <form class="flex-container">
                <h3 class="admin-item-title">Create Module</h3>
                <hr>
                <input type="text" class="custom-input" placeholder="Type Name for created module" name="moduleValue">
                <input type="button" class="custom-button js-create-btn" data-type="create" value="Create Module"/>
            </form>
            <form class="flex-container">
                <h3 class="admin-item-title">Edit Module</h3>
                <hr>
                <span class="dropdown-el" data-type="modules"></span>
                <input type="text" class="custom-input" placeholder="Type new Name for selected module" name="moduleValue">
                <input type="button" class="custom-button js-update-btn" data-type="update" value="Update Name"/>
                <hr>
            </form>
            <form class="flex-container">
                <h3 class="admin-item-title">Delete Module</h3>
                <hr>
                <input type="text" class="custom-input" placeholder="Type Name for delete module" name="moduleValue">
                <input type="button" class="custom-button js-create-btn" data-type="delete" value="Delete Module"/>
            </form>

        </div>

        <div class="container admin-cards">
            <h3 class="admin-item-title">Edit Words For Module</h3>
            <span class="dropdown-el"  data-type="words"></span>
            <hr>
            <div class="admin-conainer-words">
                <ul class="admin-list-module">

                </ul>
                <div class="admin-edit-words">
                    <div class="container-words">
                        <h3 class="admin-item-title">Edit Words</h3>
                        <hr>
                        <form class="content-modal">
                            <textarea name="eng" cols="30" rows="10" placeholder="ENGLISH"></textarea>
                            <textarea name="rus" cols="30" rows="10" placeholder="TRANSLATE"></textarea>
                            <div class="flex-gorizont">
                                <button class="modal-btn js-quest-btn" data-type="create">Create</button>
                                <button class="modal-btn js-quest-btn" data-type="update">Update</button>
                                <button class="modal-btn js-quest-btn" data-type="delete">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script type="module" src="../js/adminPanel.js"></script>
</body>
</html>