<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Module №2</title>
    <link rel="icon" href="https://img.icons8.com/color/344/free-bsd.png">
    <link rel="stylesheet" href="../sass/index.scss" />
</head>
<body>
    <div class="card-container">
    <ul class="list-module">
    </ul>
    <div class="card-wrapper flip-right">
        <div class="card">
            <div class="front">Start</div>
            <div class="back">Почати</div>
        </div>

        <div class="event-but-container">
            <div class="event-but event-prev"></div>
            <div class="event-but event-rotate"></div>
            <div class="event-but event-next"></div>
        </div>
    </div>
</div>
    <ul class="base-block">
    <div class="block-checher"></div>
    <li class="base-block__item">A1</li>
    <hr>
    <li class="base-block__item">A2</li>
    <hr>
    <li class="base-block__item">B1</li>
    <hr>
    <li class="base-block__item">B2</li>
    <hr>
    <li class="base-block__item">C1</li>
    <hr>
    <li class="base-block__item">C2</li>
</ul>
    <script type="module" src="../js/module2.js"></script>
</body>
</html>